* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  width: 95vw;
  background: no-repeat center center $body-background-image;
  background-size: cover;
  font-family: $primary-font;
}

main {
  width: $body-content-width;
  padding: 2rem 1.5rem;
  border-radius: $border-radius-standard;
  display: flex;
  justify-content: space-between;

  section {
    min-width: 400px;
    max-width: 1300px;
    width: 80%;
    border-radius: $border-radius-standard;
    background: $light-color;
    padding: 1.5rem;
  }
}
