// Small (Mobile)
@media (max-width: 899px) {
  .body-container {
    width: 100vw;
    overflow: hidden;
  }

  header {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    .banner {
      font-size: 3.5rem;
    }
  }

  main {
    width: 95vw;
    flex-direction: column;
    aside {
      flex-direction: column;
      width: 100%;
      margin-bottom: 3rem;
      .profile {
        flex-direction: row;
        img {
          height: 125px;
          width: 125px;
          margin-right: 10px;
        }
      }
    }

    section {
      width: 100%;
      padding: 1.5rem 1rem;
      font-size: 0.85rem;
      .index {
        &-subtitle {
          margin: 0;
          margin-top: 1.5rem;
        }
      }
      .grid-posts {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
      .pagination {
        margin-top: 3rem;
        &-btn {
          font-size: 1.3rem;
          margin: 0;
        }
      }
      .post {
        &-container {
          font-size: 0.9rem;
        }
        &-content {
          margin: 0;
          margin-top: 2rem;
          p {
            padding: 0;
          }

          h1 {
            font-size: 1.8rem;
          }

          .checkbox {
            margin: 0;
            margin-bottom: 2rem;
            width: 100%;
            .title {
              font-size: 1.8rem;
            }
            .list {
              margin-left: 1rem;
            }
            &:last-of-type {
              margin-bottom: 3rem;
            }
          }
        }
        &-pagination {
          margin: 3rem 0;
          padding: 0.2rem;
          .title {
            font-size: 1rem;
            margin: 1.3rem 0;
          }
          &-item {
            font-size: 1rem;
            margin-left: 0.2rem;
          }
        }
      }
    }
  }
}

// Medium
@media (min-width: 900px) and (max-width: 1199px) {
  header {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  main {
    flex-direction: column;
    aside {
      flex-direction: row;
      width: 100%;
      .profile {
        width: 300px;
        margin-right: 50px;
      }
      .nav-menu {
        width: 400px;
      }
    }
  }
}
// Default (1200~1499px)
// Large
@media (min-width: 1450px) {
  .body-container {
    max-width: 1400px;
  }
  main {
    aside {
      width: 300px;
      margin-right: 50px;
    }
    section {
      width: 1000px;
      .grid-posts {
        grid-template-columns: repeat(3, 300px);
      }
    }
  }
}

// Special Case: ScrollToTop Button
@media (max-width: 500px) {
  #scrollToTopBtn {
    height: 50px;
    width: 50px;
    .label {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 1199px) {
  #scrollToTopBtn {
    position: fixed;
    top: auto;
    right: 30px;
    bottom: 50px;
    transform: rotate(0);
    color: black;
  }
}
