header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 160px;
  width: 100%;
  margin: 2rem 0;
  padding-right: 2rem;
  .version {
    a {
      color: $light-color;
      text-decoration: none;
      transition: all 0.5s;
      margin-left: 0.5rem;
      font-size: 1.1rem;
    }
  }
  .banner {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: $light-color;
    font-family: $secondary-font;
    letter-spacing: 2px;
    font-size: 4rem;
  }
}
