.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.5rem;

  i {
    cursor: pointer;
    padding: 0 1rem;
  }

  &-btn {
    background: none;
    border: none;
    margin: 0 1rem;
    padding: 0 1rem;
    font-family: $primary-font;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;

    &:hover {
      border-bottom: 5px solid $light-color;
    }

    &:nth-child(3n + 1):hover {
      border-bottom-color: $blue-color;
    }

    &:nth-child(3n + 2):hover {
      border-bottom-color: $red-color;
    }

    &:nth-child(3n):hover {
      border-bottom-color: $yellow-color;
    }
  }

  .active {
    cursor: default;
    border-bottom: 5px solid $blue-color;
    &:hover {
      border-color: inherit;
    }
  }
}
