<div class="profile">
  <img src="{{ site.data.profile[0].imgPath }}" alt="profile-image" />
  <div class="profile-text">
    <span class="profile-text-name">{{ site.data.profile[0].name }}</span>
    <p class="profile-text-content">{{ site.data.profile[0].text }}</p>
  </div>
  <div class="profile-contact">
    <div class="icons">
      <a href="https://github.com/xkrdudrlf"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/younggil-tom-tak-3278a2157/"
        ><i class="fab fa-linkedin"></i
      ></a>
      <span id="profile-contact-email">
        <i class="fas fa-envelope-open-text"></i>
        <span id="copy-complete-message">Email Address Copied 😀</span>
        <span id="profile-contact-email-text">y0unggil0919@gmail.com</span>
      </span>
    </div>
  </div>
</div>

<script src="/assets/js/profile-email-copy.js"></script>
