---
layout: default
---

<article class="post-container">
  <span class="post-category">
    {{ page.category }} | {{ page.subCategory }}
  </span>

  <span class="post-title">{{ page.title }}</span>

  <span class="post-profile">
    <img src="/assets/images/profile-img.jpg" alt="author-img" />
    <span> Tom Tak |</span>
    <span class="post-date">{{ page.date | date_to_string }}</span>
  </span>

  <div class="post-content">{{ content }}</div>

  <!-- prettier-ignore -->
  {% include pagination_in_post.html %} 
  
  {% include comment_disqus.html %}
</article>
